{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Restablecer contraseña</title>
    <link rel="stylesheet" href="{% static 'core/css/newPassword.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'core/css/materialize.css' %}">
</head>
<body class="fade-in">
    <div class="main">
        <a href="{% url 'index' %}" class="home-icon" title="Volver al inicio">
            <i class="fas fa-home"></i>
        </a>
        <div class="center">
            <h1>Restablecer contraseña</h1>

            <form method="post" id="restablecerForm">
                {% csrf_token %}
                <div class="Username">
                    <input type="nueva_contraseña" name="nueva_contraseña" id="id_password" required minlength="8">
                    <label for = "id_password">Nueva contraseña</label>
                    <span></span>
                </div>
                <div class="Username">
                    <input type="confirmar_contraseña" name="confirmar_contraseña" id="id_confirm_password" required minlength="8">
                    <label for="id_confirm_password">Confirmar contraseña</label>
                    <span></span>
                </div>
                <input type="submit" value="Confirmar">

                {% if mensaje %}
                    <p id="mensaje" role="alert" aria-live="polite" style="color: green;">
                        <i class="fas fa-check-circle" aria-hidden="true"></i> {{ mensaje }}
                    </p>
                {% endif %}
                {% if error %}
                    <p id="mensaje" role="alert" aria-live="assertive" style="color: red;">
                        <i class="fas fa-exclamation-triangle" aria-hidden="true"></i> {{ error }}
                    </p>
                {% endif %}
            </form>
        </div>
    </div>

    <script>
        const form = document.getElementById('restablecerForm');
        form.addEventListener('submit', function(e) {
            const pass1 = document.getElementById('nueva_contraseña').value;
            const pass2 = document.getElementById('confirmar_contraseña').value;

            if (pass1 !== pass2) {
                e.preventDefault();
                alert('Las contraseñas no coinciden');
            }
        });
    </script>
    <script>
    document.addEventListener('keydown', function(event) {
    if (event.key === 'Escape') {
      window.location.href = "{% url 'index' %}";
         }
     });
    </script>

</body>
</html>
